/* ===== Typography Variables ===== */

$header-line-height:        1.1 !default;
$header-weight:             normal !default;
$header-text-color:         $default-text-color !default;

$header-font-sizes: (
  xs: (
    h1: 24,
    h2: 20,
    h3: 19,
    h4: 18,
    h5: 17,
    h6: 16,
  ),
  sm: (
    h1: 48,
    h2: 40,
    h3: 31,
    h4: 25,
    h5: 20,
    h6: 16,
  ),
) !default;